@import "index.scss";

h2 {
  .fas {
    color: $pink;
  }
  span {
    font-family: $fontHeader;
    font-weight: lighter;
    color: $blue;
  }
}

.flex-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;

  .login,
  .logout {
    text-decoration: none;
    font-size:$texteSize;
    color: $white;
    width: 10%;
    border: 0;
    padding: 14px 20px;
    text-align: center;
  }
  .login {
    background-color: $pink;
  }
  .logout {
    background-color: $blue;
  }
}

table {
  border: 2px solid $pink;
  box-shadow: 0 0 17px black;

  caption {
    font-size: $h3Size;
    color: $blue;
    width: 95%;
  	border-bottom: 2px solid $blue;
  	line-height: 0.1em;
  	margin: 10px auto 46px;
    span {
      background: $broun;
      padding: 0 10px;
    }

  }
  thead th {
    padding: 20px;
    background-color: $pink;

  }
  tbody {
    tr td {
      padding: 20px;
      background-color: $blue;      

      a {
        color: $pink;
        font-size: $h3Size;
      }
      a:hover {
        color:$white;
      }
    }
  }
}
/* ********************* PAD ********************** */
@media screen and (max-width: 1366px) and (min-width: 480px) {

  .flex-nav {
    .login,
    .logout {
      width: 20%;
    }
  }
}
/* ******************** PHONE ******************** */
@media screen and (max-width: 480px) {
  .container {
    width: 95%;
  }
  .flex-nav {
    .login,
    .logout {
      width: 48%;
    }
  }
}
