@import "index.scss";

.flex-header {
  .host {
    a {
      color: $blue;
      .fas {
        color: $blue;
      }
    }
  }
}

form {

  fieldset {
    padding: 40px;
    border-color: $pink;
    border-radius: 20px;

    legend {
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
      font-size: $h3Size;
      color: $blue;
    }
  }

  .form-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    input,
    textarea {
      //text-transform: capitalize;
      margin: 20px;
      padding: 20px;
      color: white;
      background-color: $pink;
      border: none;
    }
    ::placeholder {
      color:$white;
    }

    #Name {
      width: 45%;
      text-transform: capitalize;
    }
    #Mail,
    #PasswordLog,
    #Image,
    #Techno,
    #URL {
      width: 45%;
    }
    #Subject {
      width: 100%;
      text-transform: capitalize;
    }

    #Message,
    #Password,
    #Description{
      width: 100%;
    }


  }

  .button {
    text-align: center;
    padding-top: 24px;

    button {
      width: 10%;
      border: 0;
      padding: 14px 20px;
    }
    button:nth-child(1),
    #send {
      background-color: $pink;
      font-size:$texteSize;
      color: $white;
    }
    button:nth-child(2),
    #deleteForm,
    #blue {
      background-color: $blue;
      font-size:$texteSize;
      color: $white;
    }
  }
}
/* ********************** ANIMATION *************** */
.buzz {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97);
  transform: translate3d(0, 0, 0);
  background-color: $blue;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
/* ********************* PAD ********************** */
@media screen and (max-width: 1366px) and (min-width: 480px) {
  form {
    .form-flex {
      #Name {
        width: 100%;
      }
      #Mail {
        width: 100%;
      }

      #PasswordLog,
      #PasswordLog,
      #Image,
      #Techno,
      #URL {
        width: 100%;
      }
    }
    .button {
      button {
        width: 20%;
      }
    }
  }
}

/* ******************** PHONE ******************** */
@media screen and (max-width: 480px) {
  .container {
    width: 95%;
  }

  form {
    .form-flex {
      #Name {
        width: 100%;
      }
      #Mail {
        width: 100%;
      }

      #PasswordLog,
      #PasswordLog,
      #Image,
      #Techno,
      #URL {
        width: 100%;
      }
    }
    .button {
      button {
        width: 48%;
      }
    }
  }
}
