@import "index.scss";

.flex-header {
  .host {
    a {
      color: $blue;
      .fas {
        color: $blue;
      }
    }
  }
}

form {

  fieldset {
    padding: 40px;
    border-color: $pink;
    border-radius: 20px;

    legend {
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
      font-size: $h3Size;
      color: $blue;
    }
  }

  .form-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    input,
    textarea {
      //text-transform: capitalize;
      margin: 20px;
      padding: 20px;
      color: white;
      background-color: $pink;
      border: none;
    }
    ::placeholder {
      color:$white;
    }

    #Name {
      width: 45%;
      text-transform: capitalize;
    }
    #Mail {
      width: 45%;
    }
    #Subject {
      width: 100%;
      text-transform: capitalize;
    }

    #Message {
      width: 100%;
    }
    #Password {
      width: 100%;
    }
    #MailLog {
      width: 45%;
    }
    #PasswordLog {
      width: 45%;
    }

  }

  .button {
    text-align: center;
    padding-top: 24px;

    button {
      width: 10%;
      border: 0;
      padding: 14px 20px;
    }
    button:nth-child(1)
    {
      background-color: $pink;
      font-size:$texteSize;
      color: $white;
    }
    button:nth-child(2),
    #deleteForm {
      background-color: $blue;
      font-size:$texteSize;
      color: $white;
    }
  }
}
/* ********************* PAD ********************** */
@media screen and (max-width: 1366px) and (min-width: 480px) {
  form {
    .form-flex {
      #Name {
        width: 100%;
      }
      #Mail {
        width: 100%;
      }
      #MailLog {
        width: 100%;
      }
      #PasswordLog {
        width: 100%;
      }
    }
    .button {
      button {
        width: 20%;
      }
    }
  }
}

/* ******************** PHONE ******************** */
@media screen and (max-width: 480px) {
  .container {
    width: 95%;
  }

  form {
    .form-flex {
      #Name {
        width: 100%;
      }
      #Mail {
        width: 100%;
      }
      #MailLog {
        width: 100%;
      }
      #PasswordLog {
        width: 100%;
      }
    }
    .button {
      button {
        width: 48%;
      }
    }
  }
}
